<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">Save</button>
          <button type="button" (click)="cancel()"  class="btn btn-primary margin-left">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name:&nbsp;</label>
            <input type="text" formControlName="name" id="name" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL:&nbsp;</label>
            <input type="text" formControlName="imagePath" id="imagePath" class="form-control" #image>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="image.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="desc">Description:&nbsp;</label>
            <textarea type="text" id="desc" formControlName="desc" class="form-control" rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="phTy">
          <div class="row"
          *ngFor="let formCtrl of getControls(); let i=index" [formGroupName]="i">
            <div class="col-xs-4">
              <div class="form-group">
                <label for="phTy">Phone Types:</label>
                <input type="text" id="phTy" formControlName="phoneType" class="form-control">
              </div>
            </div>
             <div class="col-xs-6">
               <div class="form-group">
                 <label for="num">Number:</label>
                 <input type="text" id="num" formControlName="number" class="form-control">
               </div>
             </div>
              <div class="col-xs-2">
                <div class="form-group">
                  <label for="del">Delete:</label>
                  <button type="button" id="del" (click)="delPhTy(i)" class="btn btn-danger">Delete</button>
                </div>
              </div>
          </div> 
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" (click)="addPhTy()" >Add Phone Type</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
